@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-white);
    font-family: var(--font-primary);
    color: var(--color-black);
}

a {
    cursor: pointer;
    text-decoration: none;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.625rem;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 3px 6px #00000029;
    height: 70px;
}

.top__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 300;
}

.menu__list {
    display: flex;
    text-align: center;
}

.menu__list li {
    margin-left: 65px;
}

.menu__list li a {
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 0.6875rem;
    letter-spacing: 0.205rem;
    color: var(--color-grey);
    padding: 28px 12px;
}

.menu__list li a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

/*-------------------------------------------------KONIEC HEADER---------------------------------------------------*/

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.opening__img {
    height: auto;
    width: 100%;
}

.opening__title {
    font-size: 3.0625rem;
    text-transform: capitalize;
}

.opening__text {
    padding: 20px 0 38px 0;
    font-size: 1rem;
    font-family: var(--font-secondary);
}


.opening__primary__btn {
    font-family: var(--font-secondary);
    font-size: 1rem;
    padding: 22px 157px;
    border-radius: 40px;
    background: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    color: var(--color-white);
    font-weight: bold;
}

/*--------------------------------------------------KONIEC OPENING--------------------------------------------------*/
.statistics {
    padding-top: 105px;
}
.statistic__title {
    margin-bottom: 100px;
    text-align: center;
}

.statistics__content {
    display: flex;
    justify-content: center;
    gap: 185px;
    margin: 100px 0 120px 0;
}

.statistics__single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 176px;
    padding: 0 20px;
}

.statistics__single:first-child img {
    top: 5px;
}

.statistics__single:nth-child(2) img {
    top: 14px;
}

.statistics__single:last-child img {
    top: 8px;
}

.statistics__single:first-child .statistics__circle {
    background: var(--color-redish);
}

.statistics__single:nth-child(2) .statistics__circle {
    background: var(--color-primary);
}

.statistics__single:last-child .statistics__circle {
    background: var(--color-green);
}

.statistics__circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics__icon {
    position: absolute;
    left: 45%;
}

.statistic__number {

    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.3725rem;
    margin: 14px 0 19px 0;
}

.statistic__text {
    color: var(--color-grey);
    font-size: 1.0625rem;
    line-height: 1.25rem;
}

/*-------------------------------------------------KONIEC STATISTICS-------------------------------------------------*/

.benefits {
    background: var(--color-light-grey);
    padding: 105px 0;
}

.benefits__main {
    padding: 0 114px;
}

.benefits__content {
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 370px;
    margin-bottom: 37px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__content:last-child {
    background: none;
    border: none;
    margin-bottom: 105px;
}

.benefits__textArea {
    max-width: 416px;
}

.benefits__title {
    margin-bottom: 30px;
}

.benefits__text {
    font-size: 1rem;
    font-family: var(--font-secondary);
    line-height: 1.375rem;
}

.benefits__text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px;
}

.benefits__content:nth-child(2) .benefits__textArea .benefits__text::after {
    background-color: var(--color-primary);
}

.benefits__content:nth-child(3) .benefits__textArea .benefits__text::after {
    background-color: var(--color-green);
}

.benefits__img {
    position: relative;
    z-index: 9;
}

.notebook {
    position: relative;
    margin-bottom: 36px;
    margin-right: 118px;
}

.benefits__content:first-child .benefits__textArea {
    margin: 91px 36px;
}

.benefits__content:nth-child(2) .benefits__textArea {
    margin: 70px 20px;
}

.benefits__content:last-child .benefits__textArea {
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 100%;
    padding: 70px 35px;
    max-width: 623px;
}

.trumpet {
    height: 100%;
    background: var(--color-green);
    margin-left: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    border-radius: 5px;
}

.phone {
    position: relative;
    margin-left: 70px;
    margin-bottom: 13px;
}

.notebook img {
    height: 219px;
}

.phone img {
    height: 328px;
}

.trumpet img {
    height: 208px;
    margin-right: 10px;
    margin-top: 17px;
}

.notebook::before {
    content: "";
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    background: var(--color-redish);
    position: absolute;
    right: 0;
    bottom: 70px;
}

.phone:before {
    content: "";
    border-radius: 50%;
    height: 320px;
    width: 320px;
    background: var(--color-primary);
    position: absolute;
    bottom: 23px;
}

/*-------------------------------------------------KONIEC BENEFITS-------------------------------------------------*/

