@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-white);
    font-family: var(--font-primary);
    color: var(--color-black);
}

a {
    cursor: pointer;
    text-decoration: none;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.625rem;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 3px 6px #00000029;
    height: 70px;
}

.top__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 300;
}

.menu__list {
    display: flex;
    text-align: center;
}

.menu__list li {
    margin-left: 65px;
}

.menu__list li a {
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 0.6875rem;
    letter-spacing: 0.205rem;
    color: var(--color-grey);
    padding: 28px 12px;
}

.menu__list li a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

/*-------------------------------------------------KONIEC HEADER---------------------------------------------------*/

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.opening__img {
    height: auto;
    width: 100%;
}

.opening__title {
    font-size: 3.0625rem;
    line-height: 3.5625rem;
    text-transform: capitalize;
}

.opening__text {
    padding: 20px 0 38px 0;
    font-size: 1rem;
    font-family: var(--font-secondary);
}


.opening__primary__btn {
    font-family: var(--font-secondary);
    font-size: 1rem;
    padding: 22px 157px;
    border-radius: 40px;
    background: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    color: var(--color-white);
    font-weight: bold;
}

/*--------------------------------------------------KONIEC OPENING--------------------------------------------------*/
.statistics {
    padding-top: 105px;
}

.statistic__title {
    margin-bottom: 100px;
    text-align: center;
}

.statistics__content {
    display: flex;
    justify-content: center;
    gap: 185px;
    margin: 100px 0 120px 0;
}

.statistics__single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 176px;
    padding: 0 20px;
}

.statistics__single:first-child img {
    top: 5px;
}

.statistics__single:nth-child(2) img {
    top: 14px;
}

.statistics__single:last-child img {
    top: 8px;
}

.statistics__single:first-child .statistics__circle {
    background: var(--color-redish);
}

.statistics__single:nth-child(2) .statistics__circle {
    background: var(--color-primary);
}

.statistics__single:last-child .statistics__circle {
    background: var(--color-green);
}

.statistics__circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics__icon {
    position: absolute;
    left: 45%;
}

.statistic__number {

    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.3725rem;
    margin: 14px 0 19px 0;
}

.statistic__text {
    color: var(--color-grey);
    font-size: 1.0625rem;
    line-height: 1.25rem;
}

/*-------------------------------------------------KONIEC STATISTICS-------------------------------------------------*/

.benefits {
    background: var(--color-light-grey);
    padding: 105px 0;
}

.benefits__main {
    padding: 0 114px;
}

.benefits__content {
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 370px;
    margin-bottom: 37px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__content:last-child {
    background: none;
    border: none;
    margin-bottom: 0;
}

.benefits__textArea {
    max-width: 416px;
}

.benefits__title {
    margin-bottom: 30px;
}

.benefits__text {
    font-size: 1rem;
    font-family: var(--font-secondary);
    line-height: 1.375rem;
}

.benefits__text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px;
}

.benefits__content:nth-child(2) .benefits__textArea .benefits__text::after {
    background-color: var(--color-primary);
}

.benefits__content:nth-child(3) .benefits__textArea .benefits__text::after {
    background-color: var(--color-green);
}

.benefits__img {
    position: relative;
    z-index: 9;
}

.notebook {
    position: relative;
    margin-bottom: 36px;
    margin-right: 118px;
}

.benefits__content:first-child .benefits__textArea {
    margin: 91px 36px;
}

.benefits__content:nth-child(2) .benefits__textArea {
    margin: 70px 20px;
}

.benefits__content:last-child .benefits__textArea {
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 100%;
    padding: 70px 35px;
    max-width: 623px;
}

.trumpet {
    height: 100%;
    background: var(--color-green);
    margin-left: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.phone {
    position: relative;
    margin-left: 70px;
    margin-bottom: 13px;
}

.notebook img {
    height: 219px;
}

.phone img {
    height: 328px;
}

.trumpet img {
    height: 208px;
    margin-right: 10px;
    margin-top: 17px;
}

.notebook::before {
    content: "";
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    background: var(--color-redish);
    position: absolute;
    right: 0;
    bottom: 70px;
}

.phone:before {
    content: "";
    border-radius: 50%;
    height: 320px;
    width: 320px;
    background: var(--color-primary);
    position: absolute;
    bottom: 23px;
}

/*-------------------------------------------------KONIEC BENEFITS-------------------------------------------------*/

.prices__main {
    padding: 100px 0 180px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prices__chooseOptions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.prices_singleOptionBox {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    width: 372px;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}

.prices__option-basic {
    border: 1px solid var(--color-redish);
}

.prices__option-pro {
    border: 1px solid var(--color-primary);
    width: 405px;
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.prices__option-premium {
    border: 1px solid var(--color-green);
}

.prices__details {
    margin-top: 34px;
    margin-bottom: 60px;
}

.prices__option-pro .prices__details {
    margin-bottom: 48px;
}

.prices__option-premium .prices__details {
    margin-bottom: 48px;
}

.prices__option-pro .prices__included__list {
    margin-bottom: 67px;
}

.prices__singleOptionBox__title {
    font-weight: bold;
    font-size: 1.25rem;
    color: #13253B;
    margin-bottom: 24px;
}

.prices__amount {
    font-size: 2.875rem;
    font-weight: 300;
    font-family: var(--font-secondary);
    color: var(--color-redish)
}

.prices__limited {
    font-size: 0.75rem;
    font-weight: bold;
    color: #13253B;
    margin-top: 17px;
}

.prices__included__list {
    margin-bottom: 70px;
}

.prices__option-pro .prices__included__list .prices__list__element {
    line-height: 2.875rem;
}

.prices__list__element {
    font-size: 0.875rem;
    line-height: 2.5625rem;
    font-family: var(--font-secondary);
}

.prices__list__element::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    background-image: url("../assets/Ckechmark-1.svg");
    margin-right: 10px;
}

.notIncluded::before {
    background-image: url("../assets/Close.svg");
}

.prices__btn {
    color: var(--color-white);
    border-radius: 23px;
    padding: 16px 57px;
    position: absolute;
    transform: translateY(50%);
    font-size: 0.8125rem;
    font-weight: bold;
    font-family: var(--font-secondary);
}

.prices__btn-basic {
    background: var(--color-redish);
}

.prices__btn-pro {
    background: var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
    padding: 16px 65px;
}

.prices__btn-premium {
    background: var(--color-green);
}

.prices__option-pro .prices__details .prices__amount {
    color: var(--color-primary);
}

.prices__option-premium .prices__details .prices__amount {
    color: var(--color-green);
}

/*-------------------------------------------------KONIEC PRICES--------------------------------------------------*/

.contact__main {
    display: flex;
    align-items: flex-start;
    padding: 0 220px;
    gap: 32px;
    margin-bottom: 60px;
}

.contact__textArea,
.contact__formArea {
    width: 50%;
}

.contact__title {
    font-size: 3.0625rem;
    color: var(--color-black);
    line-height: 3.5625rem;
    margin-bottom: 22px;
}

.contact__text {
    font-size: 1rem;
    font-family: var(--font-secondary);
    line-height: 1.375rem;
    margin-bottom: 40px;
}

.contact__mail-phone {
    display: flex;
    gap: 20px;
}

.contact__email,
.contact__phone {
    /*font-weight: 600;*/
    font-size: 1rem;
    font-family: var(--font-secondary);
    line-height: 1.375rem;
    color: var(--color-grey);
    display: flex;
    align-items: center;
}

.contact__email::before,
.contact__phone::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

.contact__email::before {
    background-image: url("../assets/Mail Icon.svg");
}

.contact__phone::before {
    background-image: url("../assets/Phone Icon.svg");
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact__form:first-of-type {
    margin-bottom: 42px;
}

.contact__form:nth-of-type(2) {
    margin-bottom: 30px;
}

.contact__form:last-of-type {
    margin-bottom: 20px;
}

.contact__form__userName,
.contact__form__email {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    letter-spacing: 0.205rem;
    color: var(--color-primary);
    text-transform: uppercase;
}

.contact__form__chk {
    font-family: var(--font-secondary);
    font-size: 0.75rem;
    line-height: 1.0625rem;
    color: var(--color-grey);
    font-weight: normal;
    text-transform: none;
    cursor: pointer;
    display: flex;
}

.contact__form__chk input {
    display: none;
}

.contact__form__chk input:checked + span {
    background-image: url(../assets/Checkmark.svg);
    background-size: 67%;
    background-position: center;
    background-repeat: no-repeat;
}

.contact__form__chk span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    cursor: pointer;
    margin-right: 10px;
    background: var(--color-white);
    border: 1px solid #95989A;
    border-radius: 4px;
}

.form__user,
.form__email {
    border: none;
    border-bottom: 1px solid #95989A;
    line-height: 2.625rem;
}

.page__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact__form__btn {
    background: var(--color-primary);
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    padding: 20px 97px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: none;
}

/*-------------------------------------------------KONIEC KONTAKT--------------------------------------------------*/
.footer {
    height: 89px;
    box-shadow: 0px -5px 40px #00000029;
    background: var(--color-light-grey);
}

.footer__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__logo {
    color: var(--color-primary);
    font-size: 1.625rem;
    line-height: 1.875rem;
    font-weight: 300;
    margin-bottom: 6px;
}

.footer__copyright {
    font-family: var(--font-secondary);
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    color: var(--color-grey)
}

.footer__links img {
    width: 24px;
    height: 24px;
}

.footer__links {
    display: flex;
    gap: 20px;
}